<h1>About Us</h1>
<p>
    <a href="http://hackhands.com/">HackHands</a>
helps passionate people learn the skills needed to make their passion their livelihood. We do this through scholarships and our community.  Proceeds from purchases go towards scholarships.  Additionally, we partner with Educational resources to help more people learn the skills needed to pursue their passion.
</p>