<h1>About Us</h1>
<p>
    <a href="http://chivlry.com/">Chivlry</a>
 is a social network and subscription service for discovering how to be a true gentleman.  Members share gentlemenly tips and events to gain exclusive access to local events, parties and stores.  
</p>