<%= stylesheet_link_tag    "application", :media => "all" %>
<div class="row" style="padding-bottom:26px">
<center><h2>Local Classes</h2></center>
<br>
<h3>New York City</h3>
<p>Scholarship offerings coming soon</p>
<br>

<div class="row">

 

  <div class="span4">
    <div class="classes">
    	   <center><img src="/assets/code.png" alt="">
           <h4>Code</h4>
           </center>
   	</div>
  </div><!-- span -->

    <div class="span4">
    	<div class="classes">
			<center><img src="/assets/Design.png" alt="">
	       	<h4>Design</h4>
	       	</center>
   	</div>
  </div><!-- span -->

    <div class="span4">
    <div class="classes">
		   <center><img src="/assets/business.png" alt="">
		   <h4>Business</h4>
		   </center>
   	</div>
  </div><!-- span -->