    <% if user_signed_in? %>
        <h1>Welcome user, let's get started!</h1>
        <% else %>
<div class="center hero-unit">
   <h1>Welcome to HackHands</h1>
        <h2>
      A community of hacking hands to help you hack your passion
        </h2>
       <br>
       <br>
        <%= link_to "Sign up",new_user_registration_path, 
                                 class: "btn btn-large btn-primary" %>
       <br>


                                        
</div>


<hr>

<div class="row" style="padding-bottom:26px">
<center><h3>Hacking Passion</h3></center>
</br>
</div><!-- row -->



<div class="row">

        <div class="span4">
    <center><img src="/assets/heartless.svg" alt="">
      <h4>If(passion != true){</h4>
      <p>Sign up and post the skills you are looking to learn</p>
    </center>
  </div><!-- span -->

  <div class="span4">
<center><img src="/assets/learn.svg" alt="">
      <h4>learn(tech,design);</h4>
      <p>Get alerts and scholarship offers for classes</p>
      <p>Find others that have similar passions and skills</p>
      </center>
  </div><!-- span -->

        <div class="span4">
    <center><img src="/assets/heart.svg" alt="">
      <h4>hack(passion);}</h4>
      <p>Share progress of your passion project</p>
      <p>Help others learn the skills you learned</p>
    </center>
  </div><!-- span -->

</div>


<hr>

<div class="row" style="padding-bottom:26px">
<center><h3>Lend a Hand</h3></center>
</br>
</div><!-- row -->



<div class="row">

  <div class="span4">

    <center><img src="/assets/shopbag.svg" alt=""> 
      <h4>Shop Products</h4>
      <p>Proceeds from all purchases are donated towards passion project scholarships</p>

    </center>
  </div><!-- span -->

  <div class="span4">
  <center><img src="/assets/tweet.svg" alt="">
      <h4>TweetTrace</h4>
      <p>Tell others that you just lent a hand by tweeting your unique #tag i.e. </br>
        "I just lent a @hackhand to #[insertTag] so they can #hackpassion"</p>
  
    </center>
  </div><!-- span -->

        <div class="span4">
    <center><img src="/assets/progress.svg" alt="">
      <h4>Learn about what was learned</h4>
      <p>See where your contribution went from those who received your scholarship through twitter channel and hackhands</p>
    </center>
  </div><!-- span -->


<hr>
 <% end %>