    <% if user_signed_in? %>
        <h1>Welcome user, let's get started!</h1>
        <% else %>
<div class="center hero-unit">
   <h1>Welcome to Perkks</h1>
        <h2>
       A marketplace for perks
       <br>
       <br>
        <%= link_to "Sign up",new_user_registration_path, 
                                 class: "btn btn-large btn-primary" %>
       <br>


                                        
</div>


<hr>

<div class="row" style="padding-bottom:26px">
<center><h3>What is Perkks?</h3></center>
</br>
</div><!-- row -->

<div class="row">

  <div class="span4">
    <center><img src="/assets/perkky logo.svg" class="img-circle" alt="">
      <h4>Find Perkks</h4>
      <p>Find people that have perks to your favorite brands</p>
    </center>
  </div><!-- span -->
 <% end %>