    <% if user_signed_in? %>
        <h3>Welcome User</h3>
        <% else %>
<div class="center hero-unit">
   <h1>Welcome to HackHands</h1>
        <h2>
      A community of hacking hands to help hack your passion
        </h2>
  <img src="/assets/lefttag.png"  alt=""> 
  <img src="/assets/hearthands.svg"  alt="">       
  <img src="/assets/righttag.png"  alt=""> 
                                      
</div>


<hr>
<br>
<div class="row" style="padding-bottom:26px">
<center><%= link_to "Hack Your Passion",new_user_registration_path, 
                                 class: "btn btn-large btn-primary" %>
</center>
       <br>
</br>
</div><!-- row -->

<div class="row">

        <div class="span4">
    <center><img src="/assets/heartless.svg" alt="">
      <h4>If(passion != true){</h4>
      <p>Post the skills you need to build out your passion</p>
    </center>
  </div><!-- span -->

  <div class="span4">
<center><img src="/assets/class.svg" alt="">
      <h4>learn(tech,design);</h4>
      <p>Get alerts and scholarship offers for classes</p>
        </center>
  </div><!-- span -->

        <div class="span4">
    <center><img src="/assets/heart.svg" alt="">
      <h4>hack(passion);}</h4>
      <p>Build out your passion and share with others</p>
    </center>
  </div><!-- span -->


</div>




<hr>
<br>

<div class="row" style="padding-bottom:26px">
<center><%= link_to "Lend a Hand",shop_path, 
                                 class: "btn btn-large btn-primary" %>
</center>
</br>
</div><!-- row -->


<div class="row">

  <div class="span4">

    <center><img src="/assets/shopbag.svg" alt=""> 
      <h4>Shop Products</h4>
      <p>% of proceeds go towards scholarships</p>

    </center>
  </div><!-- span -->

  <div class="span4">
  <center><img src="/assets/tweet.svg" alt="">
      <h4>TweetTrace</h4>
      <p>See where your contribution went through twitter<p>
  
    </center>
  </div><!-- span -->

        <div class="span4">
    <center><img src="/assets/progress.svg" alt="">
      <h4>Learn about what was learned</h4>
      <p>Get updates on passion projects you supported</p>
    </center>
  </div><!-- span -->



<hr>
 <% end %>