    <% if user_signed_in? %>
        <h1>Welcome user, let's get started!</h1>
        <% else %>
<div class="center hero-unit">
    <h1>Welcome to gallant gent</h1>

    <h2>
      Where ordinary men become extraordinary
    </h2>
    <%= image_tag ("Gentlogo.png"), class: 'first-four' %> </br>
</br>

    <%= link_to "Sign up now!",new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>                            
</div>


 <% end %>