    <% if user_signed_in? %>
        <h1>Welcome user, let's get started!</h1>
        <% else %>
<div class="center hero-unit">
   <h1>Welcome to Perkks</h1>
        <h2>
       A peer to peer marketplace for Perkks
       <br>
       <br>
        <%= link_to "Sign up",new_user_registration_path, 
                                 class: "btn btn-large btn-primary" %>
       <br>


                                        
</div>


<hr>

<div class="row" style="padding-bottom:26px">
<center><h3>What is Perkks?</h3></center>
</br>
</div><!-- row -->

<div class="row">

        <div class="span4">
    <center><img src="/assets/person.svg" class="img-circle" alt="">
    <left><img src="/assets/pricetag.svg"  alt="">  
      <h4>Discover Perkks</h4>
      <p>Find people that have Perkks to your favorite brands</p>
    </center>
  </div><!-- span -->

  <div class="span4">
    <center><img src="/assets/perkky logo.svg" class="img-circle" alt="">
      <h4>Get Perkks</h4>
      <p>Buyers receive discounts on their favorite brands</p>
      <p>Sellers get paid for using their Perkks<p>
    </center>
  </div><!-- span -->

        <div class="span4">
    <center><img src="/assets/store.svg" class="img-circle" alt="">
    <left><img src="/assets/person.svg" class="img-circle" alt="">  
      <h4>Sell your Perkks</h4>
      <p>Find buyers that want the brands you have Perkks to</p>
    </center>
  </div><!-- span -->


<hr>
 <% end %>