<%= stylesheet_link_tag    "application", :media => "all" %>
<div class="row" style="padding-bottom:26px">
<center><h2>HackHands Products</h2></center>
<br>
<h3>Proceeds from every item we sell goes towards scholarships so others can hack their passion</h3>
</br>
</div><!-- row -->

 <h4>T shirts</h4>
 <hr>
<div class="row">
 

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/javascriptTz.PNG" alt=""></center>
      <h4>JavaScript T</h4>
      <p>$30</p>
    </div>
  </div><!-- span -->
  
  <div class="span4">
    <div class="shop">
     <center><img src="/assets/ilovenyrubyTz.PNG" alt=""></center>
       <h4>I love NY Ruby T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

    <div class="span4">
    <div class="shop">
     <center><img src="/assets/hackhandsTz.PNG" alt=""></center>
       <h4>HackHands T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

</div>
<br>

<div class="row">
 

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/railsnycsubwayTz.PNG" alt=""></center>
      <h4>Rails NYC Subway T</h4>
      <p>$30</p>
    </div>
  </div><!-- span -->
  
  <div class="span4">
    <div class="shop">
      <center><img src="/assets/lovelanguagesT.PNG" alt=""></center>
      <h4>Love Languages T</h4>
      <p>$30</p>
    </div>
  </div><!-- span -->

    <div class="span4">
    <div class="shop">
     <center><img src="/assets/iloveJSTz.PNG" alt=""></center>
       <h4>I Love Java Script T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

</div>
<br>


<h4>Timepieces</h4>
<hr>

<div class="row">

    <div class="span4">
    <div class="shop">
      <center><img src="/assets/watchblack.png" id="watch" alt=""></center>
        <br>
      
      <h4>HackHands Clock Black Face</h4>
      <p>Coming Soon</p>
    </div>
  </div><!-- span -->

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/watchwhite.png" id="watch" alt=""></center>
      <br>
    
      <h4>HackHands Clock White Face</h4>
      <p>Coming Soon</p>
    </center>
    </div>
  </div><!-- span -->

</div
<br>

<h4>Posters</h4>
<hr>

<div class="row">

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/languageheartposter.png" id="watch" alt=""></center>
      <br>
    
      <h4>Love Languages Poster</h4>
      <p>Coming Soon</p>
    </center>
    </div>
  </div><!-- span -->

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/passioncodeposter.png" id="watch" alt=""></center>
      <br>
      <h4>Passion Source Code Poster</h4>
      <p>Coming Soon</p>
    </center>
    </div>
  </div><!-- span -->
</div>