<%= stylesheet_link_tag    "application", :media => "all" %>
<div class="row" style="padding-bottom:26px">
<center><h2>HackHands Products</h2></center>
<br>
<h3>Proceeds from every item we sell goes towards scholarships so others can hack their passion</h3>
</br>
</div><!-- row -->

 <h4>T shirts</h4>
 <hr>
<div class="row">

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/IfPassionT.png" alt=""></center>
      <h4>If not passionate, learn T</h4>
      <p>$30</p>
    </div>
  </div><!-- span -->
  
  <div class="span4">
    <div class="shop">
     <center><img src="/assets/SQLPassionTpng.png" alt=""></center>
       <h4>Select all from life T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

    <div class="span4">
    <div class="shop">
     <center><img src="/assets/hackpassionT.png" alt=""></center>
       <h4>Hack Passion T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

</div>
<br>
<br>

<div class="row">
 

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/javascriptT.png" alt=""></center>
      <h4>JavaScript T</h4>
      <p>$30</p>
    </div>
  </div><!-- span -->
  
  <div class="span4">
    <div class="shop">
     <center><img src="/assets/IrubynyT.png" alt=""></center>
       <h4>I love NY Ruby T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

    <div class="span4">
    <div class="shop">
     <center><img src="/assets/hackhandsT.png" alt=""></center>
       <h4>HackHands T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

</div>
<br>

<div class="row">
 

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/railsnyT.png" alt=""></center>
      <h4>Rails NYC Subway T</h4>
      <p>$30</p>
    </div>
  </div><!-- span -->
  
  <div class="span4">
    <div class="shop">
     <center><img src="/assets/designnycT.png" alt=""></center>
       <h4>Design NYC Subway T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

    <div class="span4">
    <div class="shop">
     <center><img src="/assets/IloveJST.png" alt=""></center>
       <h4>I Love Java Script T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

</div>
<br>

<div class="row">
 

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/hackpassionbinaryT.png" alt=""></center>
      <h4>Hack Passion Binary T</h4>
      <p>$30</p>
    </div>
  </div><!-- span -->
  
  <div class="span4">
    <div class="shop">
     <center><img src="/assets/markuplifeT.png" alt=""></center>
       <h4>Markup Your Life T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

    <div class="span4">
    <div class="shop">
     <center><img src="/assets/rubyonrailsT.png" alt=""></center>
       <h4>Ruby on Rails T</h4>
       <p>$30</p>
    </div>
  </div><!-- span -->

</div>
<br>

<h4>Timepieces</h4>
<hr>

<div class="row">

    <div class="span4">
    <div class="shop">
      <center><img src="/assets/watchblack.png" id="watch" alt=""></center>
        <br>
      
      <h4>HackHands Clock Black Face</h4>
      <p>Coming Soon</p>
    </div>
  </div><!-- span -->

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/watchwhite.png" id="watch" alt=""></center>
      <br>
    
      <h4>HackHands Clock White Face</h4>
      <p>Coming Soon</p>
    </center>
    </div>
  </div><!-- span -->

</div
<br>

<h4>Posters</h4>
<hr>

<div class="row">

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/languageheartposter.png" id="watch" alt=""></center>
      <br>
    
      <h4>Love Languages Poster</h4>
      <p>Coming Soon</p>
    </center>
    </div>
  </div><!-- span -->

  <div class="span4">
    <div class="shop">
      <center><img src="/assets/passioncodeposter.png" id="watch" alt=""></center>
      <br>
      <h4>Passion Source Code Poster</h4>
      <p>Coming Soon</p>
    </center>
    </div>
  </div><!-- span -->
</div>