<div class="row" style="padding-bottom:26px">
<center><h3>HackHand Products</h3></center>
</br>
</div><!-- row -->



<div class="row">

  <div class="span4">

    <center><img src="/assets/watchblack.png" class="watch" alt=""> 
      <h4>HackTime Watch </br>
       by Fores Good</h4>
      <p>365 days are in a year, 24 hours are in a day. This watch reminds you that it is time to code</p>
     <style>
     img.watch{
      width: 300px;
      height: 300px;
    }
    </style>

    </center>
  </div><!-- span -->

  <div class="span4">
  <center><img src="/assets/IfPassionT.png" alt="">
      <h4>If not passionate, learn code/design T </br>
       by Forest Good</h4>
      <p>This tshirt says it all, if you are not passionate about what you are doing then it is time to change this. Learn the skills you need and build your passion</p>
  
    </center>
  </div><!-- span -->

        <div class="span4">
    <center><img src="/assets/SQLPassionTpng.png" alt="">
       <h4>Select all from life where passionate T </br>
       by Forest Good</h4>
      <p>Inspired by the Holstee manifesto, this shirt queuries all that is passion</p>
    </center>
  </div><!-- span -->